{% if app.request.hasPreviousSession %}
    {% for flashMessage in app.session.flashBag.get('error') %}
        <div class="alert alert-danger alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <strong>{{ flashMessage }}</strong>
        </div>
    {% endfor %}
{% endif %}
<form class="formulaire" novalidate method="post" {{ form_enctype(form) }} >
    <div class="well">
        <div class="item form-group">
            <div class="control-label col-md-3">
                {{ form_label(form.libellePeriodicite,"Libelle de la périodicite")}}
            </div>
            <div class="col-sm-6">
                <li >
                    {{form_widget(form.libellePeriodicite,{'attr':{'required':'required','class':'form-control','autocomplete':'off'}})}}
                </li>
            </div>
            <ul class="parsley-errors-list filled">
                <li >
                    {{form_errors(form.libellePeriodicite)}}
                </li>
            </ul>
        </div>
        <br><br>
        {{form_rest(form)}}
    </div>
    <div class="item form-group modal-footer">
        <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
            <button class="btn btn-primary" enabled=false id="sub" type="submit">Ajouter</button>
            <button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
        </div>
    </div>
</form>
<script type="text/javascript">
    $('.formulaire').submit( function(event) {
        event.preventDefault();
        var $this = $(this);
        var submit = true;

        if (!validator.checkAll($(this))) {
            submit = false;
        }

        if (submit)
        {
            $.ajax({
                url: Routing.generate('periodicite_ajouter'),
                type: $this.attr('method'),
                data: new FormData( $this[0] ),
                processData: false,
                contentType: false,
                statusCode: {
                    200: function(response) {
                        $('#indicateurTable').dataTable().fnReloadAjax();
                        $("#globModal").modal('hide');
                    },
                    412: function(response) {
                        var errorsForm = response.responseJSON ;
                        console.log(errorsForm);
                        $('#globModal .modal-body').children().remove();
                        $('#globModal .modal-body').append(errorsForm.form);
                        $('#globModal .modal-body').append(errorsForm.formErrors);
                    },
                    500: function(response) {
                        $('.modal-body').children().remove();
                        $('.modal-body').append(response.responseText.form);
                    }
                }
            });
        };
    });
</script>
<script>
    // initialize the validator function
    validator.message.date = 'not a real date';

    // validate a field on "blur" event, a 'select' on 'change' event & a '.reuired' classed multifield on 'keyup':
    $('.formulaire')
            .on('blur', 'input[required], input.optional, select.required', validator.checkField)
            .on('change', 'select.required', validator.checkField)
            .on('keypress', 'input[required][pattern]', validator.keypress);

    $('.multi.required').on('keyup blur', 'input', function() {
        validator.checkField.apply($(this).siblings().last()[0]);
    });

</script>
